:root {
    --tagline-color: #2d97ff;
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
}

h1,
h2,
h3 {
    margin-bottom: 0.5em;
}

.section {
    margin-bottom: 1.5em;
}

.section h2 {
    border-bottom: 2px solid #333;
    display: inline-block;
    padding-bottom: 0.3em;
}

.section-content {
    margin-top: 1em;
}

img {
    width: 200px;
    border-radius: 100px;
    margin-right: 10px;
}

.contact-info {
    list-style-type: none;
    padding: 0;
}

.contact-info li {
    margin-bottom: 0.5em;
}

form {
    width: 1px;
}

.tagline {
    color: var(--tagline-color);
    font-size: larger;
    font-weight: bolder;
    line-height: normal;
    margin-block-start: 0cm;
    margin-left: 0.5cm;
}

.myname {
    font-weight: bold;
    margin-bottom: 0cm;
}

.place {
    color: var(--tagline-color);
}

nav {
    color: #2d97ff;
    margin-bottom: 0cm;
}

a {
    text-decoration: none;
}

.skills {
    font-weight: bold;
    color: #2d97ff;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;

    top: 0;
    left: 0;
    background-color: rgb(31, 105, 178);
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 160px;
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}